<header class="navigation-wrapper" role="banner">
    <a href="{{ root }}" class="home-link">
        <h1>FLUID SELF</h1>
        <h1 class="h1-shortened">FS</h1>
    </a>
    <nav role="navigation">
        <a href="{{ root}}#projects">Projects</a>
        <a href="{{ root}}#about">About</a>
        <a href="{{ root}}books">Books</a>
    </nav>
</header>