<!DOCTYPE html>
<html lang="en">

<head>
    {{> meta root='./' }}
</head>

<body>
    <div class="container">
        {{> navigation root='./' }}
        <main class="main-wrapper" role="main">
            <section>
                <div class="section-header">
                    <h2 class="h2-decor">WELCOME</h2>
                </div>
                {{{ contents }}}
            </section>
            <section class="project-section" id="projects">
                <div class="section-header">
                    <h2 class="h2-decor">PROJECTS</h2>
                </div>
                <p>Some things I built. Follow the links to the live applications or GitHub repositories if you want to inspect
                    further.</p>
            </section>
            <section class="project-section">
                <img src="images/coinscale.jpg" alt="Coinscale screenshot">
                <h3>Coinscale</h3>
                <p>Cryptocurrency trading simulator. Users can assemble their dream portfolio and track its performance through
                    time.
                </p>
                <p>Built with HTML, CSS, JavaScript, React, Redux, Node.js, MongoDB.</p>
                <p class="button-group">
                    <a href="https://coinscale.netlify.com/" class="button" role="button">Check it out</a>
                    <a href="https://github.com/thomahau/coinscale-client" class="button" role="button">See the code</a>
                </p>
            </section>
            <section class="project-section">
                <img src="images/crypto-numismatics.jpg" alt="Crypto Numismatics screenshot">
                <h3>Crypto Numismatics</h3>
                <p>Portfolio tracker which gives users a simple, convenient overview of their digital currency holdings.</p>
                <p>Built with HTML, CSS, JavaScript, jQuery, Node.js, MongoDB.</p>
                <p class="button-group">
                    <a href="https://crypto-numismatics.herokuapp.com/" class="button" role="button">Check it out</a>
                    <a href="https://github.com/thomahau/crypto-numismatics" class="button" role="button">See the code</a>
                </p>
            </section>
            <section>
                <img src="images/charts-from-the-crypt.jpg" alt="Charts from the Crypt screenshot">
                <h3>Charts from the Crypt</h3>
                <p>Interactive price history charts for a variety of cryptocurrencies.</p>
                <p>Built with HTML, CSS, JavaScript, jQuery.</p>
                <p class="button-group">
                    <a href="https://thomahau.github.io/charts-from-the-crypt/" class="button" role="button">Check it out</a>
                    <a href="https://github.com/thomahau/charts-from-the-crypt" class="button" role="button">See the code</a>
                </p>
            </section>
            <section>
                <div class="section-header" id="about">
                    <h2 class="h2-decor">ABOUT</h2>
                </div>
                <p>I am a web developer working primarily with the JavaScript stack. When I started studying programming it
                    felt like an extension of a life-long interest in creating, building and analyzing systems. I find joy
                    in the continuous learning required, whether making things that are useful to other people, or just scratching
                    my own itch.</p>
                <p>The name of this site is a reminder to myself that my beliefs will change over time, as they have in the
                    past. I like to
                    <a href="/books">read widely</a> to draw inspiration and conclusions from disparate sources, following the guiding principle
                    of
                    <a href="http://bobsutton.typepad.com/my_weblog/2006/07/strong_opinions.html">
                        <em>strong opinions, weakly held.</em>
                    </a>
                </p>
                <p>I am currently looking for new opportunities to do exciting work with good people. Get in touch if you'd
                    like to talk.
                </p>
                <ul>
                    <li>Email: thomas@fluidself.org</li>
                    <li>Github:
                        <a href="https://github.com/thomahau">https://github.com/thomahau</a>
                    </li>
                </ul>
            </section>
        </main>
    </div>
</body>

</html>